#header,.nav{
    background-color: #87509C;
}
.button button{
    background-color: #EB7D4B;
    color: white;
    border-bottom: 3px solid #C86A40;
}
.service-sec{
    background-color: #17C2A4;
    color: white;
}
.ser-title{
    letter-spacing: 3px;
}
.ser-img{   
    margin-left: 20px;
}
.hr{
    color: #14A58C;
    width: 100px;
    border-width: 4px;
}
.p{
    color: #D1F3ED;
}